* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-header{
  padding: .7rem 3rem;
  line-height: 2.2rem;
  height: 3.6rem;
  border-bottom: 1px solid lightgray;
  font-size: 1.5em;

  position: fixed;
  z-index: 1;
  width: 100%;
  background: #fff;
}
.main-content{
  min-height: calc(100vh - 3.6rem - 2px);
  padding: .7rem 1.5rem;
  border-bottom: 1px solid lightgray;
}
.main-footer{
  padding: .7rem 1.5rem;
  line-height: 2rem;
  text-align: center;
}
