* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-header{
  padding: .7rem 1.5rem;
  line-height: 2.2rem;
  border-bottom: 1px solid lightgray;
}
.main-content{
  min-height: calc(100vh - 7rem - 2px);
  padding: .7rem 1.5rem;
  border-bottom: 1px solid lightgray;
}
.main-footer{
  padding: .7rem 1.5rem;
  line-height: 2rem;
  text-align: center;
}
